# Jekyll cruft
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.publish/

# R cruft
.Rproj.user
.Rhistory
*.Rproj

# Mac cruft
.DS_Store

# Python cruft
.pytest_cache/
.ipynb_checkpoints
venv
.venv
__pycache__
*.pyc

# Editor cruft
.vscode
.*.swp
*~

# Solutions
problem_sets/11_problem_set_solutions.pdf
problem_sets/12_problem_set_solutions.pdf
problem_sets/13_problem_set_solutions.pdf

# Content In-Progress


# Attendance 
attendance/

# Notes 
problem_sets/notes/
lectures/potential_memes.txt

# Images used in lectures 
images/
