# Jekyll cruft
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.publish/

# R cruft
.Rproj.user
.Rhistory
*.Rproj

# Mac cruft
.DS_Store

# Python cruft
.pytest_cache/
.ipynb_checkpoints
venv
.venv
__pycache__
*.pyc

# Editor cruft
.vscode
.*.swp
*~

# Solutions
problem_sets/01_problem_set_solutions.pdf
problem_sets/02_problem_set_solutions.pdf
problem_sets/03_problem_set_solutions.pdf
problem_sets/04_problem_set_solutions.pdf
problem_sets/05_problem_set_solutions.pdf
problem_sets/06_problem_set_solutions.pdf
problem_sets/07_problem_set_solutions.pdf
problem_sets/08_problem_set_solutions.pdf
problem_sets/09_problem_set_solutions.pdf
problem_sets/10_problem_set_solutions.pdf
problem_sets/11_problem_set_solutions.pdf
problem_sets/12_problem_set_solutions.pdf
problem_sets/13_problem_set_solutions.pdf
problem_sets/14_problem_set_solutions.pdf
problem_sets/15_problem_set_solutions.pdf

# Content In-Progress


# Attendance 
attendance/

# Problem Set Notes 
problem_sets/notes/

# Images used in lectures 
images/
